<div class="flex-1 flex">
  {{!-- Left Sidebar --}}
  <div class="w-60 bg-white overflow-y-auto">
    <div class="p-4">
      <h2 class="text-black text-xl font-semibold mb-4">Users</h2>
      
      
    </div>
  </div>
</div> 